<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Это шаблон для функционального представления</h1>
    <h2> Здесь мы будем проводить тесты с выводом сообщений</h2>
    <p>  Во-первых, для облегчения взаимодействия, вот некоторая информация:</p>
    <ul>
        <li><b>pip install django</b> - команда установки фреймворка Django</li>
        <li><b>django-admin startproject myapp</b> - команда создания проекта Django, где myapp - это произвольное название создаваемого проекта</li>
        <li><b>python3 manage.py startapp app</b> - команда создания приложения внутри нашего проекта, где app - это название создаваемого приложения</li>
        <li><b>python3 manage.py runserver</b> - это команда запуска сервера Django для начала работы нашего приложения</li>
    </ul>
    <p><b>ВАЖНО: перед запуском сервера нужно находиться в директории нашего проекта (в данном случае в папке myapp).</b></p>

    <h2>Информация из функции index: {{text}}</h2>

    <button> Вот так выглядит кнопка с текстом </button>
    <a href="page/">Ссылка на страницу шаблона для классового представления</a>
</body>
</html>